<footer class="footer fixed-bottom bg-black small text-center text-white-50">
    <section class="contact-section bg-black">
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="{{github-link}}"><i class="fab fa-github"></i></a>
        </div>
    </section>
    <div class="container px-4 px-lg-5">Copyright &copy; Guilherme R. Rosa</div>
</footer>